{% include "navbar.html" %}

<body style="background-color:#669999;">

<h2 >Book Details</h2>
<form method="post" class="col-md-10" >
    {% csrf_token %}
  <div class="form-group row">
    <label for="title" class="col-sm-1 col-form-label">Title</label>
      <div class="col-sm-10">
    <input type="text" class="form-control" id="title"  name="title" required>
          </div>
  </div>

     <div class="form-group row">
    <label class="col-sm-1 col-form-label">Genre</label>
    <div class="col-sm-3">
  <select class="form-control " default="Fantasy" id="genre" name="genre">
    <option value="Fantasy">Fantasy</option>
    <option value="Dystopian">Dystopian</option>
       <option value="Mystery">Mystery</option>
       <option value="Science fiction">Science fiction</option>
       <option value="Horror">Horror</option>
       <option value="Romance">Romance</option>

  </select>
    </div>
         </div>
  </div>
      </div>
     <div class="form-group row">
    <label for="author" class="col-sm-1 col-form-label" >Author</label>
         <div class="col-sm-10">
    <input type="text" class="form-control" id="author" name="author" required>
         </div>
  </div>

     <div class="form-group row">
    <label class="col-sm-1 col-form-label">Type</label>
    <div class="col-sm-3">
  <select class="form-control " id="type" default="P" name="type">
    <option value="P">Physical</option>
    <option value="E">Ebooks</option>

  </select>
    </div>
         </div>
  </div>
     <div class="form-group row">
    <label for="rating" class="col-sm-1 col-form-label">Rating</label>
         <div class="col-sm-1">
    <input type="number" class="form-control" id="rating"  name="rating" default="1" min="1" max="5" placeholder="1">
         </div>
         </div>

    <div class="form-group row">
    <label for="review" class="col-sm-1 col-form-label">Review</label>
        <div class="col-sm-10">
            <textarea  class="form-control" id="review" name="review" rows="10" placeholder="comments" required></textarea>
        </div>
  </div>

      <div class="form-group row ">
    <label for="fav1" class="col-sm-1 col-form-label">Favourite</label>
          <div class="col-md-2">
        <input type="checkbox" class="form-control" id="fav1"   name="fav1" >
          </div>
          <input  type="Submit" id="sub" style="position:absolute;right:130px;">
  </div>

</form>
{% if flag %}
    <script>

      document.getElementById("title").value = "{{obj.Title}}";
      document.getElementById("genre").value = "{{obj.Genre}}";
      document.getElementById("type").value = "{{obj.Type}}";
      document.getElementById("author").value = "{{obj.Author}}";
      document.getElementById("rating").value = "{{obj.Rating}}";
      document.getElementById("review").value = "{{obj.Review}}";
 {% if "{{obj.Favorite}}" is false %}
      document.getElementById("fav1").checked =false;
      {% elif "{{obj.Favorite}}" is true %}
       document.getElementById("fav1").checked = true;
       {% endif %}
      document.getElementById('title').setAttribute('readonly', true);
      {% if nochange %}
      document.getElementById('sub').setAttribute('disabled', true);
      document.getElementById('genre').setAttribute('disabled', true);
      document.getElementById('type').setAttribute('disabled', true);
      document.getElementById('author').setAttribute('readonly', true);
      document.getElementById('rating').setAttribute('readonly', true);
      document.getElementById('review').setAttribute('readonly', true);
      document.getElementById('fav1').setAttribute('disabled', true);
      {% endif %}
    </script>
{% endif %}
</body>
</html>